:root {
  --color__theme-black-background: #000000;
  --color__theme-black-foreground: #ffffff;
  --color__theme-blue-background: #0000ff;
  --color__theme-blue-foreground: #ffffff;
  --color__theme-orange-background: #ffa500;
  --color__theme-orange-foreground: #ffffff;

  --color__countdown-background: #ff0000;
  --color__countdown-foreground: #ffffff;
  --color__title: #fee801;
  --color__side-section: #1a1a1a;
  --color__button-text: #000000;
  --color__button-top: #febd17;
  --color__button-bottom: #fe9917;
}
